<%= render 'layouts/nav', title: 'Categories'%>
<section class="container section-1">
  <h1>New Category</h1>
  <%= link_to '< Back', groups_path, class: "btn btn-primary" %>
  <%= render "form", group: @group %>
</section>
