<h1>Accounts</h1>
<section class="section-1">
  <% if @accounts.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
      <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name%></td>
        <td><%= account.amount%></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <h2>No ammount</h2>
  <% end %>
  <button class="btn-link"><%= link_to "Add Transaction", new_group_account_path %></button>
</section>